# Force Move as primary language
*.move linguist-language=Move
contract/**/*.move linguist-language=Move

# Mark all JavaScript and CSS files as vendored (ignored from language stats)
*.js linguist-vendored
*.jsx linguist-vendored
*.css linguist-vendored
*.html linguist-vendored
Dapp/**/* linguist-vendored
src/**/* linguist-vendored
